body {
    background-color: gray;
    font-family: 'Bree Serif';
    justify-content: center;
}

.opis {
    color: white;
    background-color: black;
    height: 800px;
    width: 600px;
    text-align: center;
}

.zabytki {
    color: white;
    text-align: right;
}

.bigben {
    text-align: center;
    color: white;
    border: 4px solid black;
    background-color: black;
    margin-top: 10%;
}

.mapa:hover {
    cursor:zoom-in;
    text-align: center;
    color: white;
    font-size: 20px;
}

.imgbigben {
    text-align: center;
    border: 4px solid transparent;
}